.cardsContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 30px;
  margin-right: 10px;
}

.chartFaqContainer {
  width: 98%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.serverChartContainer {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-around;
}
